### Integer Declaration

Below we are declaring a integer variable named "i" and assigning it a value of 5

In [11]:
i = 5
print(i)
print("Type of i : ",type(i))

5
Type of i :  <class 'int'>

### Floating Point Declaration

Below we are declaring a float variable named "i" and assigning it a value of 5.

In [3]:
i = 5.55
print(i)

print("Type of i : ",type(i))

5.55

### String Declaration

Below we are declaring a string variable named "str" and assigning "Welome to Python World".

String variable can be declared using single quotes '' as well as double quotes ""

In [21]:
str = 'Welome to Python World' 
print (str) 
print("Type of str : ",type(str), "\n")

string = "Welome to Python World" 
print (string) 
print("Type of string : ",type(string))

Welome to Python World
Type of str :  <class 'str'>

Welome to Python World
Type of string :  <class 'str'>

### List Declaration


A list contains items separated by commas and enclosed within square brackets ([]).

A list in python can hold multiple data types together, unline most other languages where we a list can store single datatypes.

In [22]:
list = ['abc','xyz',123,789]
print (list) 
print("Type of str : ",type(list))

['abc', 'xyz', 123, 789]
Type of str :  <class 'list'>

### Dictionary Declaration

Dictionaries are used to store data values in key:value pairs
Dictionaries contains have keys: values and are enclosed within curly brackets ({}). 
Dictionaries do not allow duplicates.

In [31]:
dict = {'First Name': 'Almas','Last Name':'Hasnain', 'Employee ID': 1}

print (dict) 
print("Type of dict : ", type(dict),"\n")

print ('Keys are : ', dict.keys())   # Prints all the keys
print ('Values are :', dict.values()) # Prints all the values

{'First Name': 'Almas', 'Last Name': 'Hasnain', 'Employee ID': 1}
Type of dict :  <class 'dict'>

Keys are :  dict_keys(['First Name', 'Last Name', 'Employee ID'])
Values are : dict_values(['Almas', 'Hasnain', 1])

### Set  Declaration

Sets are used to store multiple items in a single variable. 
Sets do not allow duplicates.

In [34]:
set = {'Daffodil','Rose','lily','Sunflower'}

print (set) 
print("Type of set : ", type(set))

{'Rose', 'Sunflower', 'Daffodil', 'lily'}
Type of set :  <class 'set'>

### Tuple Declaration

In [35]:
tuple = ("Daffodil", "Rose", "lily")
print(tuple)
print("Type of tuple : ", type(tuple))

('Daffodil', 'Rose', 'lily')
Type of tuple :  <class 'tuple'>